{% extends 'base.html.twig' %}
{% block title %}followers | Twitter{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/post-section.css') }}">
    <link rel="stylesheet" href="{{ asset('css/follower-list.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile-navbar.css') }}">
    <!-- Calender icon for date of join -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'> 
    <!--icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
    <div class="wrapper">

        <div class="navbar" id="main-navbar">
                
                <div class="navbar-inner" id="navbar-inner"> 
                    
                    <div class="navbar-col1">
                        <a href="{{ path('twitter') }}">
                            <i class='fas fa-home' style='font-size:20px; color: #75758a; margin-top: 15px;'></i>
                            Home
                        </a>
                        <a href="#">
                            <i class="fa fa-flash" style="font-size:20px;color:#75758a; margin-top: 15px;"></i>
                            Moments
                        </a>
                        <a href="#">
                            <i class='far fa-bell' style='font-size:20px;color:#75758a; margin-top: 15px;'></i>
                            Notifications
                        </a>
                        <a href="#">
                            <i class="fa fa-envelope-o" style="font-size:20px;color:#75758a; margin-top: 15px;"></i>
                            Messages
                        </a>
                    </div>


                    <div class="navbar-col2">
                        <div class="logo ">
                           <a href="#"><i class="fa fa-twitter" align="center" style="font-size:35px;color:#38A1F3; margin: 12px;"></i></a> 
                        </div>
                    </div>


                    <div class="navbar-col3 right-navbar-section">
                        <div class="profile-navbar-col1">
                            <div class="search-box-wrapper">
                                <div class="search-container"></div>
                                <div class="search-button"></div>
                            </div>
                            
                        </div>

                        <div class="profile-navbar-col2">
							<a href="profile"><div class="user-icon"> <object data="setting/uploads/{{app.user.dp}}"></object></div></a>
                            {# <div class="dropdown">
                            <a href="profile"><div class="user-icon"> <object onclick="myFunctionTop()" class="dropbtn-menu" data="setting/uploads/{{app.user.dp}}"></object></div></a>
								<div id="myDropdown-menu" class="dropdown-content-menu">
                                    <button>Share via Direct Message</button>
                                    <button>Pin to your profile page</button>
                                    <button>Delete Tweet</button>
                                </div>
							</div> #}
                        </div>

                        <div class="profile-navbar-col3">
                            <a href="{{path('logout')}}"><button class="tweet-button">Log out</button></a>
                        </div>
                    </div>

                </div>
            </div>

		<div class="profile">
			<div class="profile-back-top">
				<div class="header-wall"><object data="setting/uploads/{{app.user.headerpic}}"></object></div>
			</div>
			<div class="profile-pic-container">
				<div class="profile-pic">
					<object data="setting/uploads/{{app.user.dp}}"></object>
				</div>
			</div>
			<div class="follower-list">
				<div class="follower-list-inner">
					<a href="profile">
						<div class="havor1">
							<div class="tweets-count">
								<div class="t-name">Tweets</div>
								<div class="t-count">{{app.user.posts | length}}</div>
							</div>
						</div>
					</a>
					<a href="following">
						<div class="havor2">
							<div class="following-count">
								<div class="t-name">Following</div>
								<div class="t-count">{{following | length}}</div>
							</div>
						</div>
					</a>
					<a href="followers">
						<div class="havor3">
							<div class="follower-count">
								<div class="t-name">Followers</div>
								<div class="t-count">{{follower | length}}</div>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="havor4">
							<div class="like-count">
								<div class="t-name">Likes</div>
								<div class="t-count">254</div>
							</div>
						</div>
					</a>
					<div class="follow">
						<a href="setting/profile"><button>Edit Profile</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="profile-body">
			<div class="profile-body-col1">
				<div class="profile-info">
					<div class="name"><a href="">{{app.user.name}}</a></div>
					<div class="username">@<a href="">{{app.user.username}}</a></div>
					<div>
						<p>{{app.user.bio}}</p>
					</div>
					<div>
						<p><i class="fa fa-map-marker" style="font-size:20px;color:grey"></i> {{app.user.location}}</p>
					</div>
					<div>
						<a href="{{app.user.website}}" target="_blank"><i class="fa fa-external-link" style="font-size:20px;color:grey"></i> {{app.user.website}}</a>
					</div>
					<div>
						</p><i class="fa fa-birthday-cake" style="font-size:20px;color:grey"></i> Born . {{ app.user.dob | date("F Y")}}</p>
					</div>
					<div class="join-date">
						<i class='far fa-calendar-alt' style='font-size:20px;color:grey'></i> Joined . 
						<span>{{ app.user.created | date("F Y")}}</span>
					</div>
					<div class="tweet-to-profile"><a href="#"><button><h3 align="center">Tweet to {{app.user.name}}</h3></button></a></div>
				</div>
			</div>
			<div class="profile-body-col">
				<div class="suggested">You followed</div>
				{% for f in following %}
                {% set fl = following(f.followeduser) %}
				<div class="follow-user">
					<div class="follow-user-back">
						
							<div class="profile-back-top">
								<div class="user-box-1"><object data="setting/uploads/{{fl[0].headerpic}}"></object></div>
							</div>
							<div class="profile-pic">
								<div class="user-box-1"><object data="setting/uploads/{{fl[0].dp}}"></object></div>
							</div>
							<div class="profile-menu">
								<div class="profile-menu-inner">
									<div class="profile-m1">
										<div class="profile-m1-inner1">Tweets</div>
										<div class="profile-m1-inner2">{{ tweet_count(f.followeduser) | length }}</div>
									</div>
									<div class="profile-m1">
										<div class="profile-m1-inner1">Following</div>
										<div class="profile-m1-inner2">{{ following_count(f.followeduser) | length}}</div>
									</div>
									<div class="profile-m1">
										<div class="profile-m1-inner1">Followers</div>
										<div class="profile-m1-inner2">{{ follower_count(f.followeduser) | length}}</div>
									</div>
								</div>
							</div>

					</div>
					<div class="profile-info-f1">
							<div class="profile-info-n">{{ fl[0].name }} <br> @{{ fl[0].username }}</div>
							<div class="profile-info-u">
								<div class="profile-in-button">
									<a href="user1/unfollow/{{f.id}}"><button class="f-button">Unfollow</button></a>
								</div>
							</div>
					</div>
					<div class="profile-info-f2">
						<div class="profile-info-f21">
							{{ fl[0].bio }}
						</div>
					</div>
					
				</div>
				{% endfor %}
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}